#admin_page_content{
	margin-top:60px;
}

#add_employee_button{
	margin-top: 20px;
}
#add_employee_div{
	margin-top:20px;
}

#add_employee_form >.form-group label , #employee_form_assignmentLabel{
	display: inline-block;
	width: 150px;
	vertical-align: middle;
	margin-right:10px;
}

#add_employee_form >.form-group> .grade-checkbox > label{
	width:80px;
}

#add_employee_form > .form-group input[type="text"] , #add_employee_form > .form-group input[type="password"]{
	display: inline-block;
	width: 300px;
	vertical-align: middle;
}

#addAssignmentForm > .form-group textarea{
	vertical-align: middle;
	display: inline-block;
}

#addAssignmentForm > .form-group label{
	vertical-align: middle;
	display: inline-block;
	margin-right: 5px;

}

#employee_form_assignments label{
	display: inline-block;
}
#employee_form_assignments span{
	font-weight: normal;
	margin-left: 10px;
	display: inline-block;
}