.navbar.navbar-default.navbar-fixed-top{
	background-color: #0080ff;
}

#appname{
	color: white;
}

#navbar_menu{
	color: white;
	vertical-align: middle;
}

.v-center{
	transform: translateY(30%);
}

a#navbar_menu:hover{
	background-color: #0080ff;
}

#employee_page_content{
	margin-left: 50px;
}
.pending{
	color:red;
	margin-left: 10px;
}
.assignment_category{
	font-weight: bold;
	font-size: 20px;
	text-decoration: underline;
}

#assignments {
	margin-top: 80px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    width:5%;
}

/*tr:nth-child(even) {
    background-color: #dddddd;
}*/
#pending_assignments_div{
	margin-top: 30px;
}

.assignment_category_div{
	margin-bottom: 50px;
}

#accept_button,#decline_button{
	background-color: #fff;
	border: none;
	margin-left:2px;
	margin-right: 2px;
	text-align: left;
	width: 1%;
}