{% extends 'base.html' %}

{% load staticfiles %}

{% block customstyle %}
   <link rel="stylesheet" type="text/css" href="{% static "css/adminPage.css" %}">
{% endblock %}

{% block content %}
<div class="container" ng-controller="adminController" ng-class="" id="adminPageContainer" style="width:100%" ng-init="initialize_admin_controller;">
{% verbatim %}  
	<nav class="navbar navbar-default navbar-fixed-top" style="">
        <div class="container-fluid">
        	<div class="navbar-header col-xs-3 " style="display:inline-block;vertical-align: middle;">                     
              <a class="navbar-brand" href="#" id="appName">
                EmployeeMangemnt App
              </a>
            </div>
            <ul class="nav nav-bar v-center col-xs-offset-8 col-xs-1" style="float:right;font-size:17px;text-align:center;">
            	<li style="text-align: center;" class="dropdown" data-toggle="dropdown"> 
                    <a class="glyphicon glyphicon-option-vertical dropdown-toggle" data-toggle="dropdown" href="#" >
                    </a>
                    <ul class="dropdown-menu multi-level" role ="menu" style="left: auto;right: 0;" aria-labelledby="dropdownMenu">
	                  	<li>
		                    <a href="#" class="row">
		                      <span class="col-xs-7 col-xs-offset-2">Settings</span>
		                    </a>
	                    </li>
                    	<li>
		                    <a href="#" class="row">
		                      <span class="col-xs-7 col-xs-offset-2" ng-click="logoutUser()">Logout</span>
		                    </a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </nav> 
{% endverbatim %} 
</div>   
{% endblock %}
